<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @story.from %>
</p>

<p>
  <strong>For:</strong>
  <%= @story.for %>
</p>

<p>
  <strong>Type:</strong>
  <%= @story.type %>
</p>

<p>
  <strong>Price:</strong>
  <%= @story.price %>
</p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @story.description %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
